* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    font-family: 'SF UI Display Ultralight';
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('./src/fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

/* renderHeader */

.headerContainer {
    background-color: #1A1A1ACC;
}

.headerContainerElement {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    color: #F6BD41;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 auto;
    padding-left: 64px;
    
}

.headerTitle {
    padding-left: 8px;
    color:  #F6BD41;
}

.playlistImg {
    width: 24px;
    height: 24px;
}

/* renderPlaylists */

.playlistsContainer {
    display: flex;
    flex-direction: row;
}

