* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black;
    font-family: 'SF UI Display Ultralight';
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('./src/fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

/* renderHeader */

.headerContainer {
    background-color: #1A1A1ACC;
}

.headerContainerElement {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    color: #F6BD41;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 auto;
    padding-left: 64px;

}

.headerTitle {
    padding-left: 8px;
    color: #F6BD41;
}

.playlistImg {
    width: 24px;
    height: 24px;
}

/* renderPlaylists */

.playlistsContainer {
    display: flex;
    flex-direction: row;
}

.plstContainer {
    padding: 24px 36px 47px 36px;
    background-color: #1D1D1D;
}

.plstContainer + .plstContainer {
    margin-left: 12px;
}




/* renderHeaderPlaylist */
.headerPlaylistContainer {
    display: flex;
    flex-direction: row;
}

.headerPlaylistLeftContainer {
    padding-left: 24px;
}

.headerPlaylistCoverImage {
    width: 170px;
    border-radius: 4px;
    width: 170px;
    height: 176px;
    border-radius: 4px
}

.headerPlaylistInfoName {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.headerPlaylistTitle {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.headerPlaylistCount  {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 11px; 
}

.headerPlaylistArtists {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}




/* renderTrack */

.audioElement {
    width: 347px;
    height: 24px;
    border-radius: 4px;
    background-color: #1A1A1ACC;
}

.nameOfTrackContainer {
    display: flex;
    flex-direction: row;
}

.trackContainer {
    display: flex;
}

/* playlists panels*/

.playlistsPanels {
    padding-bottom: 24px;
}


.playlistsContainer {
    display: flex;
    flex-direction: row;
    padding-left: 64px;
}

/* inputSearch */

.spanInputContainer {
    position: relative;
}

.searchIcon {
    background-image: url('/src/img/input-search.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 12px;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.inputSearch {
    width: 662px;
    height: 36px;
    border-radius: 2px;
    border: 1px solid #3F3F3F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #1D1D1D;

}

.inputSearch::placeholder {
    padding-left: 40px;
}

/* selectBox */

.selectBox {
    background-color: #1D1D1D;
    width: 210px;
    height: 36px;
    border: 1px solid #3F3F3F;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 22px;
}

/* selectSort */

.selectSortWrapper {
    display: flex;
    flex-direction: row;
}

.selectSortContainer {
    display: flex;
    justify-content: space-between;
    max-width: 126px;
}

.sortSelect {
    border: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
    color: #F6BD41;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.sortName {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 24px;
}

.selectSortWrapper {
    border: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* viewPanels */

.viewPanels {
    margin-left: 16px;
    width: 84px;
    height: 36px;
    border-radius: 2px;
    border: 1px
}

.view1 {
    padding-right: 12px;
}

/* add playlist */

.titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1120px;
    color: #FFFFFF;
    padding-bottom: 29px;
}

.titleContainer {
    padding-top: 31px;
    padding-left: 64px;
}

.playlistButton {
    width: 156px;
    height: 36px;
    padding: 7px, 36px, 7px, 36px;
    border-radius: 4px;
    gap: 10px;
    color: black;
    background-color: #F6BD41;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}