* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-color: black;
    font-family: 'SF UI Display Ultralight';
}

@font-face {
    font-family: 'SF UI Display Ultralight';
    font-style: normal;
    font-weight: normal;
    src: local('SF UI Display Ultralight'), url('./src/fonts/sf-ui-display-thin-58646e9b26e8b.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* header */

.headerContainer {
    background-color: #1A1A1ACC;
    
}

.headerWrapper {
    display: flex;
    flex-direction: row;
    padding: 12px 0;
    color: #F6BD41;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 auto;
    padding-left: 64px;
    
}

.headerTitle {
    padding-left: 8px;
}

/* add playlist */


.titleWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1120px;
   
    color: #FFFFFF;
    padding-bottom: 29px;
}

.titleContainer {
    padding-top: 31px;
    padding-left: 64px;
}

.playlistButton {
    width: 156px;
    height: 36px;
    padding: 7px, 36px, 7px, 36px;
    border-radius: 4px;
    gap: 10px;
    color: black;
    background-color: #F6BD41;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

/* playlists panels*/

.playlistsPanels {
    padding-bottom: 24px;
}


.playlistsContainer {
    display: flex;
    flex-direction: row;
    padding-left: 64px;
    
}

/* inputSearch */

.spanInputContainer {
position: relative;

}

.searchIcon {
    background-image: url('/audio-player/src/img/input-search.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 6px;
    left: 12px;
    pointer-events: none;
    width: 20px;
    height: 20px;
}

.inputSearch {
    width: 662px;
    height: 36px;
    
    border-radius: 2px;
    border: 1px solid #3F3F3F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #1D1D1D;
 
}

.inputSearch::placeholder {
    padding-left: 40px;
}

/* selectBox */

.selectBox {
    background-color: #1D1D1D;
    width: 210px;
    height: 36px;
    border: 1px solid #3F3F3F;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 22px;
}

/* selectSort */

.selectSortWrapper {
    display: flex;
    flex-direction: row;
}

.selectSortContainer {
    display: flex;
    justify-content: space-between;
    max-width: 126px;
}

.sortSelect {
    border: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
    color: #F6BD41;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.sortName {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 24px;
}

.selectSortWrapper {
    border: none;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* viewPanels */

.viewPanels {
    margin-left: 16px;
    width: 84px;
    height: 36px;
    border-radius: 2px;
    border: 1px
}

.view1 {
    padding-right:  12px;
}

/* renderLeftPart */

.coverContainer {
    display: flex;
    flex-direction: row;
}

.leftPartArrayContainer {
    display: flex;
    flex-direction: row;
    padding-left: 64px;
}

.leftPartContainer {
    padding: 24px 36px 47px 36px;
    background-color: #1D1D1D;
}

.rightPartContainer {
    padding: 24px 36px 47px 36px;
    background-color: #1D1D1D;
}

.coverImage {
    width: 170px;
    border-radius: 4px;
    width: 170px;
    height: 176px;
    border-radius: 4px
}

.coverTextContainer {
    padding-left: 24px;
}

.coverType {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 23px;
}

.coverTitle {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #FFFFFF;
    padding-bottom: 10px;
}

.coverContent {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 11px;
}

.coverSinger {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
}

.audioPlayerContainer {
    display: flex;
    flex-direction: row;
}

.songName,
.nameOfSong,
.songTime,
.time {
    color: white;
}

.songsContainer {
    padding-top: 29px;
}

.firstContainer {
    display: flex;
    flex-direction: row;
    padding-bottom: 24px;
}

.secondContainer {
    display: flex;
    align-items: center;
}

.thirdContainer {
    margin-left: 12px;
}

.fourthContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 9px;
}

.fifthContainer {
    display: flex;
    flex-direction: row;
    padding: 4px 24px 4px 12px;
    background-color: #121212;
    width: 347px;
    border-radius: 4px;
}

.lineDiv {
    display: flex;
    align-items: center;
}

.nameOfSong {
    margin-left: 6px;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}

.imageOfSong {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin-left: 6px;
}

.isHit {
    width: 12px;
    height: 12px;
}

.buttonPlay {
    width: 16px;
    height: 16px;
}

.time {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: center;
    margin-left: 6px;
}

.line {
    display: flex;
    align-items: center;
    width: 176px;
    height: 2px;
    border-radius: 4px;
    margin-left: 12px;
}

.volume {
    margin-left: 9px;
}

.buttonProperty {
    margin-left: 12px;
}

/* index.js */

.commonPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1152px;
}

